@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

#root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 2rem;
}

.icon {
  cursor: pointer;
  font-size: 3rem;
  color: #696969;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  grid-gap: 3rem 7.5rem;
}

.card {
  padding: 2rem;
  background-color: #f5f5f5;
  border-radius: .5rem;
  border: 1px solid #eee;
  box-shadow: 0px 4px 6px 4px #ddd;
}

.card__title {
  font-size: 2rem;
  line-height: 2rem;
}

.card__color {
  color: #999;
}

.card__image {
  height: 200px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.card__image img {
  display: block;
  width: 100%;
}

.card__price-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
}

.card__price {
  color: #cf3a33;
}

.card__add-to-cart {
  border: 1px solid #cf3a33;
  border-radius: 32px;
  color: #cf3a33;
  padding: 12px 24px;
}

.items {
  display: flex;
  flex-direction: column;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2px;
  padding: 0rem 1rem;
  background-color: #f5f5f5;
  border-radius: 0.5rem;
  border: 1px solid #eee;
}

.item__title {
  font-size: 2rem;
  line-height: 2rem;
}

.item__color {
  color: #999;
}

.item__image {
  width: 120px;
}

.item__image img {
  display: block;
  width: 100%;
}

.item__price-bar {}

.item__price {
  color: #cf3a33;
}

.item__add-to-cart {
  border: 1px solid #cf3a33;
  border-radius: 32px;
  color: #cf3a33;
  padding: 12px 24px;
}